{{ $experience := .Site.Data.experience }}

  <section id="experience" class="fabric">
  <h2 class="heading">{{ $experience.title }}</h2>
  <div id="timeline">
    {{ range $index, $element := $experience.experience }}
    <div class="timeline-item clearfix">
      <div class="timeline-icon"></div>
      
      <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
        <span class="date">{{ $element.timeperiod }}</span>
        <h6 class="h5 my-2">{{ $element.company }}</h6>
        <p class="">{{ $element.description }}</p>
      </div>
    </div>
    {{ end }}
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col text-center">
        <a class="link-unstyled" href="./chakshutandon-resume.pdf"><button class="btn btn-outline-light"><i class="fa fa-download"></i> Download Resume</button></a>
      </div>
    </div>
  </div>

</section>