{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}

<section id="sidebar" class="sidebar d-flex align-items-center">
  <div class="main-info">

    <img src="images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="160px">

    <h1 class="heading">{{ $sidebar.title }} <span class="highlight">{{ $sidebar.highlightedText }}</span></h1>
    <p class="text-muted lead">{{ $sidebar.description }}</p>

    <div class="social my-3">

      {{ range $key, $value := $social }}
        <a href="{{ $value.link }}" title="{{ $key }}">
          <i class="{{ $value.icon }}"></i>
        </a>
      {{ end }}
            
    </div>
      
  </div>
</section>